# Compiled Object files
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Doxygen output
docs/html/

# Doxygen theme (downloaded for local builds)
doxygen-awesome-css/
